.list {
  font-size: 18px;
  color: red;
}

h1 {
  color: blue;
  text-align: center;
}

.leisure {
  font-style: italic;
  font-size: 20;
}

.dark-theme {
  background-color: black;
  color: white;
}

.light-theme {
  background: linear-gradient(to bottom, white, lightgray);
  background-attachment: fixed;
  color: black;
}
